.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 29px;
    background-image: $ToggleDark;
    border-radius: 20px;

    .input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider::before {
            transform: translateX(19px);
            background-color: $White;
        }

        &:checked + .slider{
            background-color: $Toggle;
        }
    }

    .slider{
        border-radius: 20px;
        position: absolute;
        cursor: pointer;
        top:0;
        right:0;
        bottom:0;
        left:0;
        &::before{
            border-radius: 20px;
            position: absolute;
            content: "";
            height: 23px;
            width: 23px;
            left: 4px;
            bottom: 3px;
            background-color: $VeryDarkBlue;
            transition: 0.4s;
        }
    }

}
