@import './theme';
@import './socialHeader';
@import './primaryCard';
@import './secondaryCard';
@import './switch/style';

.app {
    
    .app-container {
        transition: all 0.3s;
        padding: 2em 15em;
        
        .dashboard{

            .social-container, .overView-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 10px;
                align-items: center;
            }
            
            .social-container {
                margin: 2em 0em;
            }
    
            .overView-container{
                margin-top: 1em;
            }
        }

    }
}

@media only screen and (max-width: 375px) {
    .app {
        .app-container {
            padding: 2em;
        }
    }
}