@import './theme';
@import './socialHeader';
@import './primaryCard';
@import './secondaryCard';
@import './switch/style';

.app {
   
    .app-container {
        transition: all 0.3s;
        padding: 2em 8em;
        
        .dashboard{

            .social-container, .overView-container {
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(215px, 1fr) );
                justify-content: space-between;
                gap: 10px;
            }
            
            .social-container {
                margin: 2em 0em;
            }
    
            .overView-container{
                margin-top: 1em;
            }
        }
    }

    .footer{
        text-align: center;
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 375px) {
    .app {
        .app-container {
            padding: 2em;
        }
    }
}